LAB3/src/main/java/ifmo/ws/generated/lab2.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.ws.ifmo/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.ws.ifmo/" name="BookWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.ws.ifmo/" schemaLocation="http://localhost:8081/lab2?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getBooks">
<part name="parameters" element="tns:getBooks"></part>
</message>
<message name="getBooksResponse">
<part name="parameters" element="tns:getBooksResponse"></part>
</message>
<message name="get2018Books">
<part name="parameters" element="tns:get2018Books"></part>
</message>
<message name="get2018BooksResponse">
<part name="parameters" element="tns:get2018BooksResponse"></part>
</message>
<message name="insertNewEntry">
<part name="parameters" element="tns:insertNewEntry"></part>
</message>
<message name="insertNewEntryResponse">
<part name="parameters" element="tns:insertNewEntryResponse"></part>
</message>
<message name="updateBookEntry">
<part name="parameters" element="tns:updateBookEntry"></part>
</message>
<message name="updateBookEntryResponse">
<part name="parameters" element="tns:updateBookEntryResponse"></part>
</message>
<message name="removeBookEntry">
<part name="parameters" element="tns:removeBookEntry"></part>
</message>
<message name="removeBookEntryResponse">
<part name="parameters" element="tns:removeBookEntryResponse"></part>
</message>
<message name="getLongDescriptionBooks">
<part name="parameters" element="tns:getLongDescriptionBooks"></part>
</message>
<message name="getLongDescriptionBooksResponse">
<part name="parameters" element="tns:getLongDescriptionBooksResponse"></part>
</message>
<portType name="BookWebService">
<operation name="getBooks">
<input wsam:Action="http://service.ws.ifmo/BookWebService/getBooksRequest" message="tns:getBooks"></input>
<output wsam:Action="http://service.ws.ifmo/BookWebService/getBooksResponse" message="tns:getBooksResponse"></output>
</operation>
<operation name="get2018Books">
<input wsam:Action="http://service.ws.ifmo/BookWebService/get2018BooksRequest" message="tns:get2018Books"></input>
<output wsam:Action="http://service.ws.ifmo/BookWebService/get2018BooksResponse" message="tns:get2018BooksResponse"></output>
</operation>
<operation name="insertNewEntry">
<input wsam:Action="http://service.ws.ifmo/BookWebService/insertNewEntryRequest" message="tns:insertNewEntry"></input>
<output wsam:Action="http://service.ws.ifmo/BookWebService/insertNewEntryResponse" message="tns:insertNewEntryResponse"></output>
</operation>
<operation name="updateBookEntry">
<input wsam:Action="http://service.ws.ifmo/BookWebService/updateBookEntryRequest" message="tns:updateBookEntry"></input>
<output wsam:Action="http://service.ws.ifmo/BookWebService/updateBookEntryResponse" message="tns:updateBookEntryResponse"></output>
</operation>
<operation name="removeBookEntry">
<input wsam:Action="http://service.ws.ifmo/BookWebService/removeBookEntryRequest" message="tns:removeBookEntry"></input>
<output wsam:Action="http://service.ws.ifmo/BookWebService/removeBookEntryResponse" message="tns:removeBookEntryResponse"></output>
</operation>
<operation name="getLongDescriptionBooks">
<input wsam:Action="http://service.ws.ifmo/BookWebService/getLongDescriptionBooksRequest" message="tns:getLongDescriptionBooks"></input>
<output wsam:Action="http://service.ws.ifmo/BookWebService/getLongDescriptionBooksResponse" message="tns:getLongDescriptionBooksResponse"></output>
</operation>
</portType>
<binding name="BookWebServicePortBinding" type="tns:BookWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getBooks">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="get2018Books">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="insertNewEntry">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updateBookEntry">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="removeBookEntry">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getLongDescriptionBooks">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="BookWebService">
<port name="BookWebServicePort" binding="tns:BookWebServicePortBinding">
<soap:address location="http://localhost:8081/lab2"></soap:address>
</port>
</service>
</definitions>